body{
  background-color: #f4f7f6; /* Fundo suave */
  color: #1a3636; /* Texto em tom escuro elegante */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
h1{
  font-size: 40px;
  text-align: center;
  font-family: "Molle", cursive;
  font-weight: bold;
  color: #40534c; /* Cor de destaque para o título */
}
p{
  text-align: justify;
}
img{
  margin-top: 20px;
  max-width: 80%;
}
a{
  text-decoration: none;
  color: #677d6a; /* Cor para links */
  text-align: center;
}
a:hover{
  color: #d6bd98; /* Cor ao passar o mouse */
}
body.modo_escuro {
  background-color: #121212; /* Fundo escuro */
  color: #e0e0e0; /* Texto claro */
}
body.modo_escuro a {
  color: #81c784; /* Cor dos links no modo escuro */
}

button {
  background-color: #40534c; /* Preenchimento do botão */
  color: #ffffff; /* Texto do botão */
  border: 2px solid #677d6a; /* Borda do botão */
  border-radius: 20px;
  padding: 8px 0; /* Ajuste para o texto não ficar espremido */
  width: 90px;
  position: fixed;
  right: 10px;
  top: 50px;
  cursor: pointer;
}
button:hover {
  background-color: #677d6a; /* Efeito ao passar o mouse no botão */
}